<h1 class="text-center">{{ pageTitle }}</h1>

<ng-template #noDinos>
  <app-loading *ngIf="api.loading"></app-loading>
  <app-error *ngIf="api.error" [msg]="errorMsg"></app-error>
</ng-template>

<div *ngIf="dinosaurs$ | async; let dinoList; else noDinos" class="row mb-3">
  <div *ngFor="let dino of dinoList" class="card-deck col-xs-12 col-md-6">
    <div class="card my-2">
      <div class="card-header">
        <h5 class="card-title mb-0">{{ dino.name }}</h5>
        <em><small>{{ dino.pronunciation }}</small></em>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <dl>
            <dt>Name Means:</dt>
            <dd>"{{ dino.meaningOfName }}"</dd>
            <dt>Diet:</dt>
            <dd>{{ dino.diet }}</dd>
            <dt>Length:</dt>
            <dd>{{ dino.length }}</dd>
            <dt>Period:</dt>
            <dd>{{ dino.period }} <em>({{ dino.mya }} million years ago)</em></dd>
          </dl>
        </li>
        <li class="list-group-item">
          <p [innerHTML]="dino.info" class="mb-0"></p>
        </li>
      </ul>
    </div>
  </div>
</div>
