<nav class="nav justify-content-between mt-2 mx-2 mb-3">
  <!-- Site navigation -->
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li *ngIf="auth.loggedIn" class="nav-item">
      <a
        class="nav-link"
        routerLink="/dinosaurs"
        routerLinkActive="active">Dinosaurs</a>
    </li>
    <li *ngIf="auth.isAdmin" class="nav-item">
      <a
        class="nav-link"
        routerLink="/admin/dragons"
        routerLinkActive="active">Dragons</a>
    </li>
  </ul>
  <!-- Login / logout -->
  <div class="ml-3">
    <ng-template [ngIf]="!auth.loading">
      <!-- Not authenticated: show login button -->
      <button
        *ngIf="!auth.loggedIn"
        class="btn btn-primary btn-sm"
        (click)="auth.login()">Log In</button>
      <!-- Authenticated: show username and logout button -->
      <span *ngIf="auth.loggedIn">
        <a routerLink="/profile" class="profile-link">
          <img [src]="auth.userProfile.picture">
          <small>{{ auth.userProfile.name }}</small>
        </a>
        <button
          class="btn btn-danger btn-sm"
          (click)="auth.logout()">Log Out</button>
      </span>
    </ng-template>
    <!-- Authenticating... -->
    <small *ngIf="auth.loading" class="loading">
      Logging in...
    </small>
  </div>
</nav>
